* {
  padding: 0;
  margin: 0;
}

/* Header ************************************/ 

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background: #3bb878;
  background-image: linear-gradient(139deg, #00C4CC 0%, #3bb878 100%);
  font-family: 'Playfair Display', serif;
  border-radius: 0 0 10px 10px;
}

.main-logo,
.logo,
.menu {
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.main-logo {
  margin-left: 15px;
}

/* Body ************************************/

#container {
  text-align: center;
  margin: 25px 69px;
  font-family: 'Playfair Display', serif;
}

body {
  display: grid;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  text-align: left;
  margin: 50px 100px 100px;
}

.profileImage {
  float: left;
  margin: 0px 15px 15px 0px;
  border-radius: 5px;
  min-width: 200px;
}

h1 {
  font-weight: 666;
  margin-top: 20px;
  margin-bottom: 0 50px;
}

h2 {
  color: #3bb878;
}

.wiki {
  margin: 50px;
  color: black
}

/* Footer ************************************/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 5px;
  margin-right: 15px;
  height: 100%;
}

.footer-txt {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.footer-txt p {
  margin-right: 2px;
}

.footer-txt p,
.footer-txt a {
  display: contents;
}

.construction {
  position: flex;
  margin-left: 5px;
  width: 20%;
}