* {
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

body {
  background: whitesmoke;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 0.8rem;
  width: 100%;
  background: #3bb878;
  background-image: linear-gradient(139deg, #00c4cc 0%, #3bb878 100%);
}

.main-logo,
.logo,
.menu {
  display: flex;
  align-items: center;
}

.main,
.menu {
  margin: 0 15px;
}

.main-logo img,
.logo img {
  width: 1.6rem;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  max-width: 620px;
}

.top {
  margin: 15px 15px 15px 0px;
}

.profileImage {
  float: left;
  margin: 0 15px 15px 0px;
  border-radius: 5px;
  min-width: 200px;
}

h2,
h3,
h4 {
  color: #3bb878;
}

.pdf {
  width: auto;
  height: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.pdf > a {
  text-decoration: none;
  cursor: pointer;
}

.footer {
  display: flex;
  margin: 15px 15px 5px 0;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 5px;
}
